In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

dataset = pd.read_csv('/content/dataset_sample.csv')

In [2]:
dataset

   Experience  Test_Score  Interview_Score  Salary
0           1          88               70   30000
1           5          75               65   35000
2           4          65               84   33000
3           8          74               74   45000
4          15          65               72   70000
5           4          74               65   32000
6           0          55               44   10000
7           7          78               70   40000
8          11          95               88   85000
9          30          95               94   90000

In [4]:
X = dataset.iloc[:, :3]

In [6]:
y = dataset.iloc[:, -1]
y

0    30000
1    35000
2    33000
3    45000
4    70000
5    32000
6    10000
7    40000
8    85000
9    90000
Name: Salary, dtype: int64

In [7]:


from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

#Fitting model with trainig data
regressor.fit(X, y)

# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 45, 65]]))

[-20790.75665767]

In [10]:
print(model.predict([[2, 45, 65]]))

[21572.4259143]